
.img-box img{
  position: absolute;
  left: -150px;
  height: 300px;
  width: 550px;
  top: -200px;
  right: 50px;

}
.cols1{
  position: relative;
  flex: 1;
  flex-direction: column;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title{
  margin-top: 250px;
  position: absolute;
  left: -150px;
  color: #3d535f;
}
#date{
  margin-top: 300px;
  position: absolute;
  left: -150px;
  color: plum;
}
#pic{
  position: relative;
  margin-top: 140px;
  height: 70%;
  width: calc(70% - 120px);
  top: -100px;
  right: 50px;
  border-radius: 50%;
}